# Created by .ignore support plugin (hsz.mobi)

# General Python ignore patterns
__pycache__/
.vscode
venv/

# Ignore .pth files
*.pth

# Specific data directories to ignore
data/backup-ele/
denoise_pretrain_hyper_nofloor/ 
denoise_pretrain_hyper_floor/
denoise_hyper_floor/
denoise_hyper_nofloor/
denoise_pretrain_hyper_nofloor_test/
alldataset_noPretrain_noHyper_noDenoise/
alldataset_noPretrain_noHyper_noDenoise_delInput/
save_ae_ply_hyper_pre_data/
data/dataset2019/
data/Workspace_data
save_ae_ply_data
save_ply_data
save_ele_data
save_ele_hyper_data/
save_kitti_ply_data

# Specific scripts and checkpoints to ignore
script/checkpoints/

# pointComNet specific ignore patterns
pointComNet/__pycache__/
pointComNet/models/__pycache__/
pointComNet/utils/__pycache__/

# Exceptions in data/Data_elevation-test directory
# Ignore everything in the directory
data/Data_elevation-test/*

# But don't ignore these specific files
!data/Data_elevation-test/copy_h5_to_database.py
!data/Data_elevation-test/find_del_empty_or_zero.py
!data/Data_elevation-test/write_list.py
!data/Data_elevation-test/synsetoffset2category.txt
