# Created by .ignore support plugin (hsz.mobi)
data/backup-ele/
data/Data_elevation-test/rest_data_set/
data/Data_elevation-test/test/
data/Data_elevation-test/train/
denoise_pretrain_hyper_nofloor/ 
denoise_pretrain_hyper_floor/
denoise_hyper_floor/
denoise_hyper_nofloor/
denoise_pretrain_hyper_nofloor_test/
save_ae_ply_hyper_pre_data/
data/Data_elevation-test/val/
data/Data_elevation-test/
data/dataset2019/
data/Workspace_data
save_ae_ply_data
save_ply_data
save_ele_data
save_ele_hyper_data/
save_kitti_ply_data
pointComNet/__pycache__/
pointComNet/models/__pycache__/
__pycache__
pointComNet/utils/__pycache__/
.vscode
venv/
script/checkpoints/

# Ignore .pth files
*.pth